
/*Main*/
.section-padding{
    padding-top:100px;
    padding-bottom: 100px;
  }
  /*home*/
  .home {
    height:50vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #16A085;
    color:white;
  margin-top:100px;
  }


  .toothy{
  border-radius: 50%;
    float: left;
    height: 300px;
   width: 200px;
  }
  .heading {
    font-size:52px;
  }
  /*home quote*/
  .quote  {
    font-size: 50px;

  }

  /*about*/
  .about {
    height:70vh;
      display: flex;
      justify-content: center;
      text-align:center;
      background-image: url('./second.png');
  background-position: center;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;




  }
  /*about-text*/
  .about-text {
  font-size: 50px;
  font-family: cursive;
  color:darkgreen;

  }
  .button{
    font-size: 40px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  /*contact*/
  .contact {

    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#16A085;;
    text-align:center;
    color:darkgreen;

  }
  .pricing {

    display:flex;
    justify-content: center;
    align-items: center;
    background-color:linen;
    text-align:center;
    color:darkgreen;

  }
  .prijzen {


  }

  .arago{

    display: inline-block;

}
